:root {
  /* Noirs / Gris */
  --black-deep: rgb(20, 20, 20);
  --black-soft: rgb(35, 35, 35);
  --gray-medium: rgb(79, 87, 84);

  /* Blanc */
  --white-pure: rgb(255, 255, 255);

  /* Violets */
  --purple-dark: rgb(96, 39, 153);
  --purple-light: rgb(177, 84, 184);

  /* Verts */
  --green-neon: rgb(57, 202, 84);

  /* Police */
  --font-orbitron: 'Orbitron', sans-serif;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp11535774.jpg');
  background-attachment: fixed;
  background-size: 100%;
  color: var(--white-pure);
  font-family: var(--font-orbitron);
  margin: 0;
  padding: 20px;
  text-align: center;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--black-soft);
  padding: 30px;
  border: 2px solid var(--purple-light);
}

a {
  color: var(--green-neon);
  background-color: var(--gray-medium);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

a:hover {
  color: var(--green-neon);
  border: 2px double var(--green-neon);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}

h1 {
  border-bottom: 2px solid var(--purple-light);
  padding-bottom: 10px;
  margin-top: 40px;
}

h3 {
  color: var(--green-neon);
  margin-top: 30px;
}

img {
  max-width: 100%;
  height: auto;
  border: 5px solid var(--purple-light);
  margin: 20px auto;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  text-align: right;
  display: inline-block;
  width: 100px;
}

.ligne {
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;

}

.ligne label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.ligne input {
  width: 180px;
  border-radius: 5px;
  border:2px solid (--black-deep);
}

[type="submit"]{
	background-color: var(--green-neon);
	color: var(--green-neon);
	border-radius: 20px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--gray-medium);
  border: solid var(--purple-light);
  padding: 15px 0;
  z-index: 999;   
}
